* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  width: 100%;
  min-height: 100vh;
  line-height: 1.6;

  background-color: var(--color-light-grayish-blue);
}
