.box {
  font-size: 1.8rem;
  padding: 2rem 3.2rem;
  border-radius: 10px;
  position: relative;
  box-shadow: 2rem 2rem 2.5rem rgba(185, 185, 185, 0.226);

  &__bg {
    position: absolute;
    top: 0.6rem;
    right: 15%;
    z-index: 1;
    transform: scale(1.1);

    @include respond(tablet-small) {
      right: 8%;
    }
  }
}

.client-info {
  display: grid;
  width: max-content;
  height: 50px;
  z-index: 10;

  grid-template-columns: 55px max-content;
  grid-template-rows: 1fr 1fr;

  &__image {
    grid-row: 1 / -1;
    align-self: center;

    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--color-white-trans);
  }

  &__name {
    font-size: 1.6rem;
  }

  &__position {
    font-size: 1.4rem;
    font-weight: 500;
    transform: translateY(-0.3rem);
  }
}

.title {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 1.5rem 0;
  z-index: 10;
}

.details {
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  z-index: 10;
}

.trans-white {
  color: var(--color-white-trans);
}

.trans-black {
  color: var(--color-black-trans);
}
