.container {
  width: 1176px;
  height: 85%;

  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(200px, max-content));

  grid-template-areas: "wide-1 wide-1 short-1 side" "short-2 wide-2 wide-2 side";

  grid-column-gap: 25px;
  grid-row-gap: 25px;

  @include respond(desktop-small) {
    width: 93%;
    margin: 6rem 0;
  }

  @include respond(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "wide-1 wide-1 short-1" "short-2 wide-2 wide-2" "side side side";
  }

  @include respond(tablet-small) {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(1fr, max-content));
    grid-template-areas: "wide-1 wide-1 wide-1 wide-1" "short-1 short-1 short-2 short-2" "wide-2 wide-2 side side";
  }

  @include respond(tablet-smallest) {
    width: 89%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, minmax(1fr, max-content));
    grid-template-areas: "wide-1" "short-1" "short-2" "wide-2" "side";
  }
}

.box {
  display: flex;
  flex-direction: column;

  &--1,
  &--2,
  &--5 {
    color: var(--color-white);
  }

  &--side,
  &--4 {
    color: var(--color-dark-grayish-blue);
  }

  &--1 {
    grid-area: wide-1;

    background-color: var(--color-moderate-violet);
  }

  &--2 {
    grid-area: short-1;

    background-color: var(--color-dark-grayish-blue);
  }

  &--side {
    grid-area: side;

    background-color: var(--color-white);
  }

  &--4 {
    grid-area: short-2;
    background-color: var(--color-white);
  }

  &--5 {
    grid-area: wide-2;

    background-color: var(--color-dark-blackish-blue);
  }
}
